/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUbOvISTs.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUZevISTs.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUbuvISTs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUb-vISTs.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofA6sKUYevI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* cyrillic-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAjsOUbOvISTs.woff2) format('woff2');
  unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAjsOUZevISTs.woff2) format('woff2');
  unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* vietnamese */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAjsOUbuvISTs.woff2) format('woff2');
  unicode-range: U+0102-0103, U+0110-0111, U+0128-0129, U+0168-0169, U+01A0-01A1, U+01AF-01B0, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAjsOUb-vISTs.woff2) format('woff2');
  unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Nunito';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/nunito/v16/XRXW3I6Li01BKofAjsOUYevI.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*
{
	margin: 0;
	padding: 0;
	font-family: consolas;
	box-sizing: border-box;
}

body
{
	display: flex;
	justify-content: center;
	align-items:center;
	min-height: 100vh;
	flex-direction:column;
	background: #050801;
}

a {
	position: relative;
	display: inline-block;
	padding: 25px 30px;
	margin: 30px 0;
	color:#03e9f4;
	font-size: 24px;
	text-decoration: none;
	text-transform: uppercase;
	overflow: hidden;
	transition:0.5s;
	letter-spacing: 4px;
}
a:nth-child(1)
{
	filter: hue-rotate(240deg);
}

a:nth-child(2)
{
	filter: hue-rotate(240deg);
}

a:nth-child(3)
{
	filter: hue-rotate(310deg);
}

a:nth-child(4)
{
	filter: hue-rotate(200deg);
}

a:nth-child(5)
{
	filter: hue-rotate(200deg);
}
a:nth-child(6)
{
	filter: hue-rotate(200deg);
}

a:hover
{
	background: #03e9f4;
	color:#050801;
	box-shadow: 0 0 5px #03e9f4,
				0 0 25px #03e9f4,
				0 0 50px #03e9f4,
				0 0 200px #03e9f4;
}
a span 
{
	position: absolute;
	display: block;
}
a span:nth-child(1)
{
	top: 0;
	left: 0;
	width: 100%;
	height: 2px;
	background: linear-gradient(90deg,transparent,#03e9f4);
	animation:animate1 1s linear infinite;

}

@keyframes animate1
{
	0%
	{
		left: -100%;
	}
	50%,100%
	{
		left:100%;
	}
}




a span:nth-child(2)
{
	top: -100%;
	right: 0;
	width: 2%;
	height: 100%;
	background: linear-gradient(180deg,transparent,#03e9f4);
	animation:animate2 2s linear infinite;
	animation-delay:0.25s;

}

@keyframes animate2
{
	0%
	{
		top: -100%;
	}
	50%,100%
	{
		top:100%;
	}
}


a span:nth-child(3)
{
	bottom: 0;
	right: -100%;
	width: 100%;
	height: 2px;
	background: linear-gradient(270deg,transparent,#03e9f4);
	animation:animate3 2s linear infinite;
	animation-delay:0.5s;

}

@keyframes animate3
{
	0%
	{
		right: -100%;
	}
	50%,100%
	{
		right:100%;
	}
}


a span:nth-child(4)
{
	bottom: -100%;
	left: 0;
	width: 2px;
	height: 100%;
	background: linear-gradient(360deg,transparent,#03e9f4);
	animation:animate4 2s linear infinite;
	animation-delay:0.75s;

}

@keyframes animate4
{
	0%
	{
		bottom: -100%;
	}
	50%,100%
	{
		bottom:100%;
	}
}

.box 
{
	position: top;
	
	display: flex;
	justify-content:center;
	align-item:center;

}
.box h2
{
	font-family:  'Nunito', sans-serif;
	color: #fff;
	font-size: 3em;
	font-weight: 600;
	letter-spacing: 0.1em;
	text-shadow: 0 0 10px #00b3ff,
				 0 0 20px #00b3ff,
				 0 0 40px #00b3ff,
				 0 0 80px #00b3ff,
				 0 0 120px #00b3ff;

}
@media only screen and (max-width: 900px){
.box h2
{
	font-family:  'Nunito', sans-serif;
	color: #fff;
	font-size: 1em;
	font-weight: 200;
	letter-spacing: 0.1em;
	text-shadow: 0 0 10px #00b3ff,
				 0 0 20px #00b3ff,
				 0 0 40px #00b3ff,
				 0 0 80px #00b3ff,
				 0 0 120px #00b3ff;
}

}
