body{
    font-weight: bold;
   background-image: linear-gradient(#c0efca,#fbe8df);
}

h1{
    color: #100e79;
}

.head{
    text-align: center;
    color: rgb(255, 81, 0);
}

.one{
    position: relative;
    height: fit-content;
    width: 400px;
    display: inline-block;
    text-align: left;
    line-height: 35px;
}

.one select{
    width: 100px;
    display: inline-block;
    position: absolute;
    right: 0px;
    padding: 8px 30px 8px 40px;
    border-radius: 25px;
    font: 200 13px Arial;
    -webkit-appearance: none;
    appearance: none;
    color: blue;
    border: 1px solid #c242f5;
}
.one nav{
    display: inline-block;
    position: absolute;
    right: 130px;
    color: rgb(37, 9, 9);
}

.one select::-ms-expand{
    display: none;
}

.one select:focus{
    outline: none;
    box-shadow: 0 0 10px -1px #42f5ec;
}


.first,.second,.third,.fourth,.fiveth,.sixth,.seventh,.eighth{

    margin: auto;
    text-align: center;
    width: 450px;
    height: 480px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(50px);
    box-shadow: 0 8px 32px 0 rgba(31,38,135,.37);
    border-radius: 20px;
    border-left: 1px solid rgba(255, 255, 255, 0.3);
    border-right: 1px solid rgba(255, 255, 255, 0.3);


}


.first{
    border-top: 1px solid rgba(255, 255, 255, 0.3);
}


.eighth{
    border-bottom: 1px solid rgba(255, 255, 255, 0.3);
    height: fit-content;
}

#cgpa0,#cgpa1,#cgpa2,#cgpa3,#cgpa4,#cgpa6,#cgpa7,#cgpa8{
    color: rgb(255, 81, 0);
}


#back{
		position: fixed;
		top: 0;
    		right: 0;
    		font-size: 2em;
	}

@media only screen and (max-width: 1000px){
	    body{
    background-position: 30% 20%;
}
	}
